force-app/main/default/flows/FLW_AddCommentDuringInterview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>addAccToList</name>
        <label>addAccToList</label>
        <locationX>817</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>accColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forComments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCntToList</name>
        <label>addCntToList</label>
        <locationX>1226</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>cntColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forComments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignComment</name>
        <label>assignComment</label>
        <locationX>954</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaCommentAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAccToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignComment_0</name>
        <label>assignComment</label>
        <locationX>1330</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>getContact.Comments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaCommentAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCntToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountOrContact</name>
        <label>AccountOrContact</label>
        <locationX>729</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>getAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactComment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forComments.Contact_inconnu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>ContactComment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaCommentAcc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BL}, &quot;-&quot;, &quot;&quot;)
&amp;{!forComments.Commentaire}</expression>
    </formulas>
    <interviewLabel>FLW_AddCommentDuringInterview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLW_AddCommentDuringInterview</label>
    <loops>
        <name>forComments</name>
        <label>forComments</label>
        <locationX>456</locationX>
        <locationY>290</locationY>
        <collectionReference>repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountOrContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>919</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignComment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forComments.Compte.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1160</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignComment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forComments.Contact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccounts</name>
        <label>updateAccounts</label>
        <locationX>456</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>updateContacts</targetReference>
        </connector>
        <inputReference>accColl</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateContacts</name>
        <label>updateContacts</label>
        <locationX>460</locationX>
        <locationY>954</locationY>
        <inputReference>cntColl</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>456</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>forComments</targetReference>
        </connector>
        <fields>
            <name>repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Contact</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>Contact__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Opportunity</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Contact_inconnu</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Contact_inconnu</name>
                <dataType>Boolean</dataType>
                <fieldText>Contact inconnu</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Compte</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>AccountId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Compte</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Contact_inconnu</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>true</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Commentaire</name>
                <fieldText>Commentaire</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>accColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cntColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
