force-app/main/default/flows/FLW_ET_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Five</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>NOK</name>
        <choiceText>NOK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NOK</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>FLW_ET_Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FLW_ET_Interview</label>
    <loops>
        <name>forEachSkill</name>
        <label>forEachSkill</label>
        <locationX>454</locationX>
        <locationY>763</locationY>
        <collectionReference>SkillsRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createSkillAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSkillAssignment</name>
        <label>createSkillAssignment</label>
        <locationX>456</locationX>
        <locationY>897</locationY>
        <connector>
            <targetReference>forEachSkill</targetReference>
        </connector>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>forEachSkill.Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>forEachSkill.Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>ResourceLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>forEachSkill.SkillLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Skill_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTTInterview</name>
        <label>createTTInterview</label>
        <locationX>450</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>forEachSkill</targetReference>
        </connector>
        <inputAssignments>
            <field>Interview_appointment__c</field>
            <value>
                <elementReference>Interview_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>ResourceEmloyeeLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer_opinion__c</field>
            <value>
                <elementReference>Interviewer_opinion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Perfect_mission__c</field>
            <value>
                <elementReference>Perfect_Mission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_experience__c</field>
            <value>
                <elementReference>Professional_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>ResourceLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Result</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getRecordId</name>
        <label>getRecordId</label>
        <locationX>456</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTTInterview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getResourceInfo</name>
        <label>getResourceInfo</label>
        <locationX>466</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Formulaire_ET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFL5__SFL5_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Perfect_mission__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateResource</name>
        <label>updateResource</label>
        <locationX>687</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Thanks_for_completing_the_ET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Perfect_mission__c</field>
            <value>
                <elementReference>Perfect_Mission</elementReference>
            </value>
        </inputAssignments>
        <object>SFL5__SFL5_Resource__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Formulaire_ET</name>
        <label>Formulaire ET</label>
        <locationX>454</locationX>
        <locationY>306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecordId</targetReference>
        </connector>
        <fields>
            <name>ResourceEmloyeeLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Interviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Intervieweur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Interview__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ResourceLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidat(e)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Interview__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ResourceId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Interview_appointment</name>
            <dataType>DateTime</dataType>
            <fieldText>Heure de l&apos;entretien</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Professional_experience</name>
            <dataType>String</dataType>
            <fieldText>Expérience professionnelle</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;D&apos;un point de vue technique&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Perfect_Mission</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getResourceInfo.Perfect_mission__c</elementReference>
            </defaultValue>
            <fieldText>Mission souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SkillsRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SkillLookup</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>Skill__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Skill</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Skill_Assignment__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Level</name>
                <choiceReferences>One</choiceReferences>
                <choiceReferences>Two</choiceReferences>
                <choiceReferences>Three</choiceReferences>
                <choiceReferences>Four</choiceReferences>
                <choiceReferences>Five</choiceReferences>
                <dataType>Number</dataType>
                <fieldText>Niveau</fieldText>
                <fieldType>DropdownBox</fieldType>
                <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 187pt;&quot; width=&quot;249&quot;&gt;
 &lt;colgroup&gt;&lt;col width=&quot;249&quot; style=&quot;mso-width-source:userset;mso-width-alt:8704;width:187pt&quot;&gt;
 &lt;/colgroup&gt;&lt;tbody&gt;&lt;tr height=&quot;17&quot; style=&quot;mso-height-source:userset;height:13.25pt&quot;&gt;
  &lt;td height=&quot;17&quot; class=&quot;xl65&quot; width=&quot;249&quot; style=&quot;height:13.25pt;width:187pt&quot;&gt;Notation&lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr height=&quot;29&quot; style=&quot;mso-height-source:userset;height:21.75pt&quot;&gt;
  &lt;td height=&quot;29&quot; class=&quot;xl66&quot; style=&quot;height:21.75pt;border-top:none&quot;&gt;1 =&amp;gt;
  Notion de base&lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr height=&quot;29&quot; style=&quot;mso-height-source:userset;height:21.75pt&quot;&gt;
  &lt;td height=&quot;29&quot; class=&quot;xl67&quot; style=&quot;height:21.75pt&quot;&gt;2 =&amp;gt; Utlisation standard
  (exploitation )&lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr height=&quot;29&quot; style=&quot;mso-height-source:userset;height:21.75pt&quot;&gt;
  &lt;td height=&quot;29&quot; class=&quot;xl67&quot; style=&quot;height:21.75pt&quot;&gt;3 =&amp;gt; Maitrise de la techno
  (build)&lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr height=&quot;29&quot; style=&quot;mso-height-source:userset;height:21.75pt&quot;&gt;
  &lt;td height=&quot;29&quot; class=&quot;xl68&quot; style=&quot;height:21.75pt&quot;&gt;4 =&amp;gt; Expertise
  (troubleshoot avancé/ archi)&lt;/td&gt;
 &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>Comment</name>
                <dataType>String</dataType>
                <fieldText>Commentaire</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Interviewer_opinion</name>
            <fieldText>Opinion du consultant Ovalo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Avis Général ?&lt;/p&gt;&lt;p&gt;Quel est le niveau technique du candidat ?&lt;/p&gt;&lt;p&gt;Quel est son profil ?&lt;/p&gt;&lt;p&gt;Sur quelle mission serait-il pertinent ?&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Result</name>
            <choiceReferences>OK</choiceReferences>
            <choiceReferences>NOK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thanks_for_completing_the_ET</name>
        <label>Thanks for completing the  ET</label>
        <locationX>946</locationX>
        <locationY>762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Merci d&apos;avoir compléter le TT :) &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>getResourceInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillAssignmentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill_Assignment__c</objectType>
    </variables>
</Flow>
