force-app/main/default/flows/FLW_UploadFile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Autre</name>
        <choiceText>Autre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autre</stringValue>
        </value>
    </choices>
    <choices>
        <name>CV</name>
        <choiceText>CV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CV</stringValue>
        </value>
    </choices>
    <choices>
        <name>LDM</name>
        <choiceText>Lettre de motivation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lettre de motivation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>IsItOther</name>
        <label>IsItOther</label>
        <locationX>449</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>updateTitle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Autre</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTitleOther</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaTitle1</name>
        <dataType>String</dataType>
        <expression>{!Type} &amp; &apos; - &apos; &amp; {!getResourceName.First_Name__c} &amp; &apos; &apos; &amp; {!getResourceName.Name}</expression>
    </formulas>
    <formulas>
        <name>TitleFormulaOther</name>
        <dataType>String</dataType>
        <expression>{!Entrer_le_type_du_fichier} &amp; &apos; - &apos; &amp; {!getResourceName.First_Name__c} &amp; &apos; &apos; &amp; {!getResourceName.Name}</expression>
    </formulas>
    <interviewLabel>FLW_UploadFile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLW_UploadFile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContentDocumentLink</name>
        <label>getContentDocumentLink</label>
        <locationX>457</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsItOther</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getResourceName</name>
        <label>getResourceName</label>
        <locationX>456</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContentDocumentLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFL5__SFL5_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTitle</name>
        <label>updateTitle</label>
        <locationX>681</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContentDocumentLink.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>FormulaTitle1</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateTitleOther</name>
        <label>updateTitleOther</label>
        <locationX>288</locationX>
        <locationY>880</locationY>
        <connector>
            <targetReference>Succes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContentDocumentLink.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>TitleFormulaOther</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <screens>
        <name>Succes</name>
        <label>Succès</label>
        <locationX>465</locationX>
        <locationY>1035</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successful</name>
            <fieldText>&lt;p&gt;Fichier téléchargé avec succès&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>T_l_charger_un_fichier</name>
        <label>Télécharger un fichier</label>
        <locationX>456</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getResourceName</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>CV</choiceReferences>
            <choiceReferences>LDM</choiceReferences>
            <choiceReferences>Autre</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Entrer_le_type_du_fichier</name>
            <dataType>String</dataType>
            <fieldText>Entrer le type du fichier</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Autre</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploader</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Télécharger fichier:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Télécharger un fichier&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>T_l_charger_un_fichier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
